## PYTHON 3 x CODING STANDARDS ASSESSMENT

### Acenet Microcredential Program

Note for submission: Change the name of this file to `python_3_assessment_FirstName_LastName.ipynb`

You are to analyze the sales data of a used car dealership to gain insights.

The data is stored in the list `sale_list`. Each element of the list is a dictionary with the following information on the sale:

`sale_list[index] = {'customer': 'FirstName LastName', 
                    'make': 'CarCompany', 
                    'model': 'CarModel', 
                    'year': year car was made as an integer, 
                    'price': price as an integer}
`

Using the information in `sale_list`, calculate:

1. Total revenue from all sales
2. Total revenue per each make: Honda, Toyota, Ford, Chevrolet, Ferrari, Lamborghini
3. Total revenue from each year
4. How many sales per each make
5. What is the most popular make?
6. Average revenue per make
7. What were the 5 most expensive sales?
8. What were the 5 least expensive sales?

You are to write a function to solve each question. You can reuse previous functions in subsequent questions!

To initalize the `sale_list` variable run the cell below:

In [ ]:
sale_list = [
{'customer': 'Olivia Walker', 'make': 'Toyota', 'model': 'Camry', 'year': 2014, 'price': 37575} ,
{'customer': 'Samantha Lee', 'make': 'Chevrolet', 'model': 'Camaro', 'year': 2024, 'price': 18455} ,
{'customer': 'Sarah Walker', 'make': 'Toyota', 'model': 'RAV4', 'year': 2012, 'price': 27047} ,
{'customer': 'Margaret Nguyen', 'make': 'Ford', 'model': 'F-150', 'year': 2004, 'price': 28570} ,
{'customer': 'Melissa Scott', 'make': 'Toyota', 'model': 'RAV4', 'year': 2006, 'price': 29602} ,
{'customer': 'Amanda Nguyen', 'make': 'Toyota', 'model': 'Corolla', 'year': 2019, 'price': 38644} ,
{'customer': 'Christopher Johnson', 'make': 'Ford', 'model': 'Focus', 'year': 2018, 'price': 17943} ,
{'customer': 'Matthew Smith', 'make': 'Chevrolet', 'model': 'Corvette', 'year': 2003, 'price': 18040} ,
{'customer': 'Barbara Ray Vaughan', 'make': 'Toyota', 'model': 'RAV4', 'year': 2002, 'price': 35501} ,
{'customer': 'Jimi Hendrix', 'make': 'Ford', 'model': 'F-150', 'year': 2011, 'price': 15531} ,
{'customer': 'Sarah Miller', 'make': 'Toyota', 'model': 'RAV4', 'year': 2024, 'price': 43183} ,
{'customer': 'Brady Tkachuk', 'make': 'Toyota', 'model': 'Corolla', 'year': 2011, 'price': 24297} ,
{'customer': 'Laura Miller', 'make': 'Chevrolet', 'model': 'Corvette', 'year': 2018, 'price': 21855} ,
{'customer': 'Barbara Tkachuk', 'make': 'Chevrolet', 'model': 'Malibu', 'year': 2001, 'price': 34574} ,
{'customer': 'David Allen', 'make': 'Chevrolet', 'model': 'Corvette', 'year': 2008, 'price': 18400} ,
{'customer': 'Margaret Sanchez', 'make': 'Toyota', 'model': 'RAV4', 'year': 2017, 'price': 27926} ,
{'customer': 'Samantha Johnson', 'make': 'Chevrolet', 'model': 'Camaro', 'year': 2018, 'price': 13796} ,
{'customer': 'Elizabeth Lewis', 'make': 'Ford', 'model': 'Focus', 'year': 2008, 'price': 13544} ,
{'customer': 'Laura Johnson', 'make': 'Honda', 'model': 'Accord', 'year': 2000, 'price': 22317} ,
{'customer': 'Vanessa Johnson', 'make': 'Honda', 'model': 'Civic', 'year': 2001, 'price': 30163} ,
{'customer': 'Christopher Moore', 'make': 'Ford', 'model': 'F-150', 'year': 2018, 'price': 4513} ,
{'customer': 'James Davis', 'make': 'Toyota', 'model': 'Corolla', 'year': 2000, 'price': 38369} ,
{'customer': 'Jim Robinson', 'make': 'Toyota', 'model': 'Camry', 'year': 2017, 'price': 25161} ,
{'customer': 'Nicole Mitchell', 'make': 'Lamborghini', 'model': 'Countach', 'year': 2015, 'price': 124150} ,
{'customer': 'Vanessa Walker', 'make': 'Chevrolet', 'model': 'Malibu', 'year': 2015, 'price': 22250} ,
{'customer': 'Joshua Scott', 'make': 'Honda', 'model': 'Accord', 'year': 2001, 'price': 17227} ,
{'customer': 'Nicole Smith', 'make': 'Chevrolet', 'model': 'Corvette', 'year': 2000, 'price': 5864} ,
{'customer': 'Stella Lee', 'make': 'Toyota', 'model': 'Corolla', 'year': 2007, 'price': 11982} ,
{'customer': 'Samantha Lopez', 'make': 'Honda', 'model': 'Accord', 'year': 2016, 'price': 32408} ,
{'customer': 'Jessica Williams', 'make': 'Chevrolet', 'model': 'Malibu', 'year': 2002, 'price': 30508} ,
{'customer': 'Michael Clark', 'make': 'Chevrolet', 'model': 'Camaro', 'year': 2013, 'price': 42719} ,
{'customer': 'Stephanie Davis', 'make': 'Honda', 'model': 'CRV', 'year': 2019, 'price': 27665} ,
{'customer': 'Melissa Jones', 'make': 'Toyota', 'model': 'RAV4', 'year': 2004, 'price': 24396} ,
{'customer': 'Kevin Lopez', 'make': 'Toyota', 'model': 'Camry', 'year': 2008, 'price': 29807} ,
{'customer': 'George Robinson', 'make': 'Toyota', 'model': 'Camry', 'year': 2011, 'price': 21511} ,
{'customer': 'John Smith', 'make': 'Ford', 'model': 'Focus', 'year': 2017, 'price': 16001} ,
{'customer': 'Stella Rodriguez', 'make': 'Honda', 'model': 'CRV', 'year': 2002, 'price': 13682} ,
{'customer': 'Sarah King', 'make': 'Ford', 'model': 'Mustang', 'year': 2014, 'price': 36657} ,
{'customer': 'Meghan Allen', 'make': 'Ford', 'model': 'Mustang', 'year': 2022, 'price': 18824} ,
{'customer': 'Laura Rodriguez', 'make': 'Ferrari', 'model': 'F40', 'year': 2007, 'price': 165654} ,
{'customer': 'Ryan Hendrix', 'make': 'Chevrolet', 'model': 'Camaro', 'year': 2017, 'price': 16364} ,
{'customer': 'Ashley Lopez', 'make': 'Ferrari', 'model': '360 Modena', 'year': 2020, 'price': 23045} ,
{'customer': 'Jessica Johnson', 'make': 'Honda', 'model': 'Accord', 'year': 2004, 'price': 21674} ,
{'customer': 'Daniel Scott', 'make': 'Honda', 'model': 'Civic', 'year': 2000, 'price': 24596} ,
{'customer': 'Barbara Cobain', 'make': 'Ford', 'model': 'F-150', 'year': 2022, 'price': 26912} ,
{'customer': 'Stephanie Lewis', 'make': 'Chevrolet', 'model': 'Camaro', 'year': 2004, 'price': 44440} ,
{'customer': 'Jennifer Cobain', 'make': 'Honda', 'model': 'Accord', 'year': 2014, 'price': 41296} ,
{'customer': 'Brady Allen', 'make': 'Honda', 'model': 'CRV', 'year': 2013, 'price': 9423} ,
{'customer': 'Michael Garcia', 'make': 'Honda', 'model': 'Civic', 'year': 2015, 'price': 16266} ,
{'customer': 'Stephanie Scott', 'make': 'Toyota', 'model': 'RAV4', 'year': 2004, 'price': 21720} ,
{'customer': 'Jessica Lee', 'make': 'Honda', 'model': 'Civic', 'year': 2000, 'price': 35966} ,
{'customer': 'Andrew Nguyen', 'make': 'Honda', 'model': 'CRV', 'year': 2011, 'price': 39033} ,
{'customer': 'Laura Hernandez', 'make': 'Honda', 'model': 'Accord', 'year': 2011, 'price': 8223} ,
{'customer': 'David Wright', 'make': 'Honda', 'model': 'CRV', 'year': 2011, 'price': 19141} ,
{'customer': 'Jane Wright', 'make': 'Toyota', 'model': 'Camry', 'year': 2005, 'price': 36957} ,
{'customer': 'Jessica Sanchez', 'make': 'Honda', 'model': 'CRV', 'year': 2003, 'price': 8592} ,
{'customer': 'Stella Ray Vaughan', 'make': 'Toyota', 'model': 'RAV4', 'year': 2024, 'price': 5931} ,
{'customer': 'Matthew Jones', 'make': 'Toyota', 'model': 'Corolla', 'year': 2019, 'price': 45898} ,
{'customer': 'Meghan Scott', 'make': 'Chevrolet', 'model': 'Malibu', 'year': 2004, 'price': 29432} ,
{'customer': 'Melissa Ray Vaughan', 'make': 'Toyota', 'model': 'Camry', 'year': 2019, 'price': 8430} ,
{'customer': 'Jimi Miller', 'make': 'Toyota', 'model': 'Camry', 'year': 2000, 'price': 10094} ,
{'customer': 'Jane King', 'make': 'Honda', 'model': 'CRV', 'year': 2001, 'price': 27097} ,
{'customer': 'Christopher Allen', 'make': 'Chevrolet', 'model': 'Malibu', 'year': 2002, 'price': 18407} ,
{'customer': 'Mohammed Lee', 'make': 'Honda', 'model': 'Accord', 'year': 2022, 'price': 34923} ,
{'customer': 'John Brown', 'make': 'Chevrolet', 'model': 'Camaro', 'year': 2023, 'price': 13753} ,
{'customer': 'Michael Jones', 'make': 'Honda', 'model': 'CRV', 'year': 2014, 'price': 29198} ,
{'customer': 'Stevie Hernandez', 'make': 'Honda', 'model': 'Civic', 'year': 2022, 'price': 35844} ,
{'customer': 'Melissa King', 'make': 'Toyota', 'model': 'Camry', 'year': 2001, 'price': 21768} ,
{'customer': 'Margaret Williams', 'make': 'Chevrolet', 'model': 'Corvette', 'year': 2011, 'price': 10495} ,
{'customer': 'Bobby Tkachuk', 'make': 'Toyota', 'model': 'Corolla', 'year': 2016, 'price': 21531} ,
{'customer': 'Ashley Singh', 'make': 'Toyota', 'model': 'RAV4', 'year': 2015, 'price': 18839} ,
{'customer': 'Laura Brown', 'make': 'Chevrolet', 'model': 'Malibu', 'year': 2024, 'price': 44907} ,
{'customer': 'Stella Davis', 'make': 'Chevrolet', 'model': 'Camaro', 'year': 2017, 'price': 9958} ,
{'customer': 'Joshua Jones', 'make': 'Ford', 'model': 'Focus', 'year': 2003, 'price': 11139} ,
{'customer': 'Samantha Allen', 'make': 'Chevrolet', 'model': 'Malibu', 'year': 2018, 'price': 25199} ,
{'customer': 'Vanessa Robinson', 'make': 'Toyota', 'model': 'Corolla', 'year': 2021, 'price': 36619} ,
{'customer': 'Samantha Clark', 'make': 'Honda', 'model': 'Accord', 'year': 2002, 'price': 22549} ,
{'customer': 'Christopher Hernandez', 'make': 'Lamborghini', 'model': 'Diablo', 'year': 2015, 'price': 208419} ,
{'customer': 'Ryan Lewis', 'make': 'Honda', 'model': 'CRV', 'year': 2024, 'price': 26343} ,
{'customer': 'Stevie Nguyen', 'make': 'Honda', 'model': 'Civic', 'year': 2024, 'price': 10227} ,
{'customer': 'Emily Nguyen', 'make': 'Honda', 'model': 'Civic', 'year': 2019, 'price': 52735} ,
{'customer': 'Akshay Garcia', 'make': 'Toyota', 'model': 'Camry', 'year': 2005, 'price': 21783} ,
{'customer': 'James Lopez', 'make': 'Ford', 'model': 'Mustang', 'year': 2021, 'price': 8044} ,
{'customer': 'John Stutzle', 'make': 'Chevrolet', 'model': 'Corvette', 'year': 2015, 'price': 13599} ,
{'customer': 'Kevin Walker', 'make': 'Ford', 'model': 'Mustang', 'year': 2013, 'price': 15122} ,
{'customer': 'James Smith', 'make': 'Chevrolet', 'model': 'Corvette', 'year': 2004, 'price': 19134} ,
{'customer': 'Melissa Cobain', 'make': 'Toyota', 'model': 'Corolla', 'year': 2021, 'price': 15517} ,
{'customer': 'William Clark', 'make': 'Honda', 'model': 'Accord', 'year': 2021, 'price': 30744} ,
{'customer': 'Laura Davis', 'make': 'Toyota', 'model': 'Corolla', 'year': 2018, 'price': 29943} ,
{'customer': 'Emily Hendrix', 'make': 'Toyota', 'model': 'Camry', 'year': 2006, 'price': 14677} ,
{'customer': 'Jane Hernandez', 'make': 'Toyota', 'model': 'RAV4', 'year': 2008, 'price': 20073} ,
{'customer': 'Ashley Rodriguez', 'make': 'Honda', 'model': 'CRV', 'year': 2004, 'price': 9687} ,
{'customer': 'Gurmuhk Singh', 'make': 'Toyota', 'model': 'Camry', 'year': 2002, 'price': 18126} ,
{'customer': 'Daniel Lee', 'make': 'Honda', 'model': 'Accord', 'year': 2006, 'price': 10607} ,
{'customer': 'Ashley Clark', 'make': 'Ford', 'model': 'Mustang', 'year': 2008, 'price': 24069} ,
{'customer': 'Jessica Ray Vaughan', 'make': 'Ferrari', 'model': '458 Italia', 'year': 2015, 'price': 65734} ,
{'customer': 'Stella Hendrix', 'make': 'Toyota', 'model': 'RAV4', 'year': 2011, 'price': 26739} ,
{'customer': 'Luigi Gallo', 'make': 'Honda', 'model': 'Accord', 'year': 2011, 'price': 10033} ,
{'customer': 'Kevin Hendrix', 'make': 'Ford', 'model': 'Focus', 'year': 2004, 'price': 29540} ,
{'customer': 'Jerry Garcia', 'make': 'Toyota', 'model': 'Corolla', 'year': 2008, 'price': 29940} ,
]

1. In the cell below write a function that takes in `sale_list` and outputs the total revenue for all sales

In [ ]:
def calc_total_revenue(sales):
    '''
    fill out this function and return total_revenue
    '''
    
    total_revenue = None # calculate the value and update this variable
    
    return(total_revenue)

# call function and output results here
total_revenue = calc_total_revenue(sale_list)
print(f'Total revenue = ${total_revenue}')

2. In the cell below write a function to calculate the total revenue for a specified make. Use a for loop to run it for each element in the list `makes` and output the results.

In [ ]:
def calc_revenue_per_make(sales,make):
    '''
    fill out this function and return revenue_for_make
    '''
    
    revenue_for_make = None 
    
    
    return(revenue_for_make)

makes = ['Honda', 'Toyota', 'Ford', 'Chevrolet', 'Ferrari', 'Lamborghini']

# here is how you can nicely output the results.
for make in makes:
    print(f'Sale of all {make}s = ${calc_revenue_per_make(sale_list,make)}')

3. In the cell below write a function to calculate the total revenue for a specified year. Use a for loop to run it for each element in `range(2000,2025)` and output the results.

In [ ]:
def calc_revenue_per_year(sales,make):
    '''
    code goes here
    '''
    
    revenue_for_year = None
    
    return(revenue_for_year)

# use a for loop to calculate the revenue for each year and output the result.
# an f-string might be an easy way to nicely display the results!

4. In the cell below write a function to count how many sales for a specified make were made. Use a for loop like in question 2 to calculate the value for each element in `makes`. It is now up to you to include the appropriate input variables for the function, the appropriate output variable, and to print the results nicely.

In [ ]:
def count_sales_per_make():
    
    return()

# call function and output results here

5. What is the most popular make (i.e. most number of sales)?

In [ ]:
def most_popular_make():
 
    return()

# call function and output results here

6. What was the average revenue for each sale, for each make? For example if X number of BMW's were sold for a total of Y dollars, the average revenue would be Y/X dollars. Return the result as an integer.

In [ ]:
def average_revenue_per_make():
    
    return()

# call function in a for loop and output results here

7. What were the 5 most expensive individual sales? Output all of the information for each of these 5 sales.

In [ ]:
def sort_by_price():

    return()

# call function and output results here

8. What were the 5 least expensive individual sales? Output all of the information for each of these 5 sales. You might be able to use the function from question 7 with a slight modification.

In [ ]:
def sort_by_price():

    return()

# call function and output results here